<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>練習 Vue</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container" id="content">
        <h1 class="text-center">練習使用 Vue 取得 GitHub API</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="請輸入要取得的帳號" aria-label="Recipient's username"
                    aria-describedby="button-addon2" v-model="name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="getRepos">取得 API</button>
                </div>
            </div>
        
            <h4>{{ name }}的資料庫：</h4>
            <ul class="list-group">
                <li class="list-group-item" v-for="a in repos">{{ a.name }}</li>
            </ul>
    </div>

    <!-- Ver CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Axios CDN 非同步處理 AJAX 套件 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 自己的 JS -->
    <script src="./app.js"></script>
</body>

</html>